<div class="list-container">
  <h2>Receitas Cadastradas</h2>
  <div class="actions">
    <button (click)="novoCadastro()">+</button>
  </div>
  <!-- Busca e filtro -->
  <div class="filtros">
    <input
      type="text"
      placeholder="Buscar por nome..."
      [(ngModel)]="buscaNome"
      (input)="filtrar()"
    />

    <select [(ngModel)]="filtroCategoria" (change)="filtrar()">
      <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
    </select>
  </div>

  <div *ngIf="receitasFiltradas.length === 0">
    <p>Nenhuma receita encontrada.</p>
  </div>

  <div class="cards-grid" *ngIf="receitasFiltradas.length > 0">
    <div
      class="card"
      *ngFor="let receita of receitasFiltradas; let i = index"
      (click)="verDetalhe(i)"
    >
      <img
        [src]="receita.imagemUrl || 'https://via.placeholder.com/300x200?text=Sem+Imagem'"
        alt="Imagem da Receita"
      />
      <div class="card-body">
        <h3>{{ receita.nome }}</h3>
        <p>Categoria: {{ receita.categoria }}</p>
      </div>
    </div>
  </div>
</div>
